@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  padding: 0; 
  margin: 0;
 
  background-image: url("/public/bg.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.montFont{
  font-family: 'Kanit', sans-serif;
}

.main{
  margin-left: 5%;
  margin-right: 5%;
}

.form-select{
  background-color: white !important
}

.form-select:first{
  background-color: rgb(194, 27, 27) !important
}


.BurgerIcon{
  width: 80px;
}

.textHeader{
  font-size: 22px;
}

@media (min-width: 640px) {
  
  .BurgerIcon{
    width: 80px;
  }

  .textHeader{
    font-size: 35px;
  }
}
.detailMenu{
  font-size: 15px;
  color: rgb(151, 114, 68);
}

.menuList{
  padding-top: 15px;
  padding-bottom: 15px;
  align-self: center
}

.checkStyle{
  padding-left: 10px;
  padding-right: 10px;
  
}


.tableS {
  border-collapse: separate;
  border-spacing:0 5px;
}

@media (min-width: 768px) {
  
  .BurgerIcon{
    width: 100px;
  }

  .textHeader{
    font-size: 55px;
  }
}

@media (min-width: 1024px) { 
  
  .BurgerIcon{
  width: 150px;
}

.textHeader{
  font-size: 75px;
}

}
.showPopup{
  display: block;;
}

.closePopup{
  display: none;
}
.popup-bg {   /* ฉากดำๆจางๆ  */
  background-color: rgba(0, 0, 0, 0.938);  
  position: fixed; 
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  

}

.popupContent {  /*ก้อนคอนเท้นที่โผล่ที่ขึ้นมาตรงกลาง*/
  background-color: rgb(255, 255, 255);
  width: 550px;
  position: fixed;  
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%);  
  color: rgb(0, 0, 0);

}

.closeButton{
  width: 30px;
  position: absolute;
  right: 15px;
  top:10px;
  cursor: pointer
}

